.main {
  &__wrapper {
  }

  &__border {
    z-index: 3;
  }

  &__border-left-top {
    position: fixed;
    width: 20px;
    top: 15px;
    left: 15px;
    @media (max-width: 768px) {
      left: 10px;
      top: 10px;
    }
  }

  &__border-right-top {
    position: fixed;
    width: 20px;
    top: 15px;
    right: 15px;
    @media (max-width: 768px) {
      right: 10px;
      top: 10px;
    }
  }

  &__border-left-bottom {
    position: fixed;
    width: 20px;
    bottom: 15px;
    left: 15px;
    @media (max-width: 768px) {
      left: 10px;
      bottom: 10px;
    }
  }

  &__border-right-bottom {
    position: fixed;
    width: 20px;
    bottom: 15px;
    right: 15px;
    @media (max-width: 768px) {
      right: 10px;
      bottom: 10px;
    }
  }
}

.main {

  &__contact {
    position: fixed;
    bottom: 25px;
    right: 45px;
    z-index: 3;
    font-weight: 800;
    text-transform: uppercase;
    @media (max-width: 768px) {
      right: 35px;
      bottom: 25px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 83px;
    @media (max-width: 768px){
      gap: 5px;
      flex-direction: row;
      justify-content: center;
    }

  }

  &__message-icon {
    max-width: 44px;
    animation: ring 1.5s infinite;
    @media (max-width: 768px) {
      max-width: 25px;
    }
    @keyframes ring {
      0% {
        transform: rotate(0);
      }
      10% {
        transform: rotate(15deg);
      }
      20% {
        transform: rotate(-15deg);
      }
      30% {
        transform: rotate(10deg);
      }
      40% {
        transform: rotate(-10deg);
      }
      50% {
        transform: rotate(5deg);
      }
      60% {
        transform: rotate(-5deg);
      }
      70% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(0);
      }
    }
  }

  &__link-text {
    @media (max-width: 768px){
      font-size: 17px;
      text-wrap: nowrap;
    }
  }
}




.main__vector-arrow {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 12px;
  pointer-events: none;
  animation: bounce 2s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(10px);
    }
  }
}


.services__read-this-button {
  color: rgba(255, 255, 255, 0.397); /* Напівпрозорий текст */
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: rgba(255, 255, 255, 0.349); /* Повністю білий при наведенні */
  }
}

.services__text-two {
  display: none; /* Прихований текст за замовчуванням */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.services__text-two.visible {
  display: block;
  opacity: 1; /* Плавне з'явлення тексту */
}





.services__block-width {
  position: relative; /* Для позиционирования прогресс-бара */


  .services__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.7); /* Цвет прогресс-бара */
    width: 0%; /* Начальное состояние */
    transition: width 1s ease; /* Плавное изменение ширины */
  }
}