.absolute {
  &__wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-image.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.main__hero-text {
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;

  h1 {
    font-size: 102px;
    line-height: 102px;
    font-weight: 700;
    margin: 0;
    @media screen and (max-width: 768px) {
      font-size: 50px;
      line-height: 50px;
      
    }
    @media (max-width: 380px) {
      font-size: 35px;
      line-height: 35px;
      
    }
  }

  p {
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
    margin: 10px 0 0;
    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 18px;
    }
    @media (max-width: 380px) {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.main__hero-image {
  opacity: 0;
  transform: scale(0.5); /* Початковий стан: зменшена картинка */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-image.visible {
  opacity: 1;
  transform: scale(1); /* Картинка повертається до нормального розміру */
}

.main__hero-text {
  opacity: 0;
  transform: translateY(-50px); /* Початковий стан: текст вище */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-text.visible {
  opacity: 1;
  transform: translateY(0); /* Текст повертається на місце */
}

.main__hero-content {
  display: flex;
  flex-direction: column; /* Розташування елементів вертикально */
  justify-content: center; /* Вирівнювання по вертикалі */
  align-items: center; /* Вирівнювання по горизонталі */
  height: 100%; /* Займає всю висоту контейнера */
  text-align: center; /* Центрування тексту */
}

.main__hero-image {
  position: absolute;
  opacity: 0;
  transform: scale(0.5); /* Початковий стан: зменшена картинка */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-image.visible {
  position: absolute;
  opacity: 1;
  transform: scale(1); /* Картинка повертається до нормального розміру */
}

.main__hero-text {
  opacity: 0;
  transform: translateY(-50px); /* Початковий стан: текст вище */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-text.visible {
  opacity: 1;
  transform: translateY(0); /* Текст повертається на місце */
}





//about



.about {
  &__wrapper {
    padding: 96px 0 90px 0;
    max-width: 800px;
    margin: 0 auto;
    @media (max-width: 1280.98px) {
      padding: 96px 0 90px 0;
    }
    @media (max-width: 744.98px) {
      padding: 96px 0 90px 0;
    }
    @media (max-width: 360.98px) {
      padding: 64px 0 90px 0;
    }
  }

  &__main {
  }

  &__title {
    position: relative;
    color: var(--base-100_100, #FFF);
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    line-height: 90%; /* 72px */
    text-transform: uppercase;
    margin: 0 0 56px 0;
    &::before {
      position: absolute;
      content: 'about us';
      text-wrap: no-wrap;
      top: -30px;
      left: center;
      opacity: 0.2;
      background: radial-gradient(145.99% 128.12% at 50% 13.13%, var(--accent-lavabloom, #A569FF) 0%, var(--base-900_100, #000) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: blur(2px);
    }
    &::after {
      // position: absolute;
      // content: 'about us';
      // text-wrap: no-wrap;
      // max-width: 266px;
      // top: 30px;
      // transform: translate(-100%);
      // left: center;
      // opacity: 0.2;
      // background: radial-gradient(145.99% 128.12% at 50% 13.13%, var(--accent-lavabloom, #A569FF) 0%, var(--base-900_100, #000) 100%);
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // filter: blur(2px);
    }
    @media (max-width: 1280.98px) {
      
    }
    @media (max-width: 744.98px) {
      
    }
    @media (max-width: 460.98px) {
      font-size: 44px;
      margin: 0 0 32px 0;
    }
  }

  &__image-block {
    float: right;
    margin: 0 0 0 10px;
  }

  &__foot-img {
    max-width: 277px;
    margin: 0 0 10.29px 0;
    @media (max-width: 1280.98px) {
      max-width: 186px;
    }
    @media (max-width: 744.98px) {
      max-width: 128px;
    }
    @media (max-width: 460.98px) {
      max-width: 128px;
    }
  }

  &__license-img {
    @media (max-width: 1280.98px) {
      max-width: 186px;
    }
    @media (max-width: 744.98px) {
      max-width: 128px;
    }
    @media (max-width: 460.98px) {
      max-width: 128px;
    }
  }

  &__text-block {
    
  }

  &__subtitle-block {
    color: var(--base-100_100, #FFF);

    /* desktop/header-6 */
    font-family: "Bebas Neue Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 25.2px */
    text-transform: uppercase;
    max-width: 492px;
    margin: 0 0 32px 0;
    @media (max-width: 744.98px) {
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 8px 0;
    }
    @media (max-width: 500.98px) {
      font-size: 14px;
      line-height: 14px;
      margin: 0 0 8px 0;
    }
  }

  &__subtitle {
    margin: 0 0 16px 0;
    font-size: 28px;
    @media (max-width: 744.98px) {
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 8px 0;
    }
    @media (max-width: 500.98px) {
      font-size: 14px;
      line-height: 14px;
      margin: 0 0 8px 0;
    }
  }

  &__subtitle-line {
  }

  &__text-cover {
    max-width: 492px;
  }

  &__inf {
    color: var(--base-100_100, #FFF);
    font-family: "Bebas Neue Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 24px */
    &:first-child {
      margin: 0 0 16px 0;
      @media (max-width: 744.98px) {
        margin: 0 0 8px 0;
      }
    }
    @media (max-width: 744.98px) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.container {
}
.abbout {

  &__info {
  }
}

//services


.services {

  &__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 46px 0 120px 0;
    @media (max-width: 744.98px) {
      padding: 46px 0 40px 0;
    }
  }

  &__title {
    position: relative;
    color: var(--base-100_100, #FFF);
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    line-height: 90%; /* 72px */
    text-transform: uppercase;
    margin: 0 0 56px 0;
    &::before {
      position: absolute;
      content: 'services';
      text-wrap: no-wrap;
      top: -30px;
      left: center;
      opacity: 0.2;
      background: radial-gradient(145.99% 128.12% at 50% 13.13%, var(--accent-lavabloom, #A569FF) 0%, var(--base-900_100, #000) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: blur(2px);
    }
    &::after {
      position: absolute;
      content: 'services';
      text-wrap: no-wrap;
      max-width: 266px;
      top: 30px;
      transform: translate(-100%);
      left: center;
      opacity: 0.2;
      background: radial-gradient(145.99% 128.12% at 50% 13.13%, var(--accent-lavabloom, #A569FF) 0%, var(--base-900_100, #000) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: blur(2px);
    }
    @media (max-width: 1280.98px) {
      
    }
    @media (max-width: 744.98px) {
      
    }
    @media (max-width: 460.98px) {
      font-size: 44px;
      margin: 0 0 32px 0;
    }
  }

  &__block-width {
    // max-width: 100%;
    // overflow-x: scroll;
    // height: 560px;
    @media (max-width: 1440px) {
      max-width: 100%;
      overflow-x: scroll;
    }
  }

  &__flex-direction {
    display: flex;
    align-items: stretch;
    gap: 12px;
    justify-content: center;
    width: 940px;
  }

  &__info-block {
    width: 300px; 
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }

  &__video-block {
  }

  &__text-block {
  }

  &__text-one {
    color: var(--base-100_100, #FFF);

    /* desktop/body-M */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 19.2px */
    margin: 0 0 4px 0;
  }

  &__text-two {
    color: var(--base-100_100, #FFF);

    /* desktop/body-M */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 19.2px */
    margin: 0 0 4px 0;
  }

  &__button-block {
    margin: 20px 0 0 0;
  }

  &__read-more-button {
    color: var(--base-100_100, #FFF);
    padding: 10px 16px;
    /* desktop/small-button */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 16px */
    text-transform: uppercase;
    border-radius: 8px;
    border: 2px solid var(--base-100_100, #FFF);
    cursor: pointer;
  }
}
.container {
}




.present {

  &__wrapper {
    margin: 0 auto;
  }

  &__block-title {
    margin: 0 0 56px 0;
  }

  &__image-block {
    float: right;
    margin: 0 0 0 10px;
  }

  &__foot-img {
    max-width: 332px;
    @media (max-width: 1024.98px) {
      max-width: 220px;
    }
    @media (max-width: 824.98px) {
      max-width: 160px;
    }
  }

  &__title {
    color: var(--base-100_100, #FFF);

    /* desktop/header-4 */
    font-family: "Bebas Neue Pro";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 50.4px */
    text-transform: uppercase;
    max-width: 676px;
    margin: 0 0 9px 0;
    @media (max-width: 1024.98px) {
      font-size: 34px;
      line-height: 34px;
    }
    @media (max-width: 824.98px) {
      font-size: 28px;
      line-height: 28px;
    }
    @media (max-width: 824.98px) {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__text {
    color: var(--base-100_100, #FFF);

    /* desktop/body-M */
    font-family: "Bebas Neue Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 120%; /* 19.2px */
    max-width: 494px;
    @media (max-width: 1024.98px) {
      font-size: 16px;
      line-height: 16px;
    }
    @media (max-width: 824.98px) {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.container {
}

.present__information{
  color: var(--base-100_100, #FFF);

  /* desktop/body-M */
  font-family: "Bebas Neue Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: 120%; /* 19.2px */
  max-width: 494px;
  @media (max-width: 1024.98px) {
    font-size: 14px;
    line-height: 14px;
  }
}