@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Bebas Neue Pro";
  background: #000;
  color: #fff;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}
@media (max-width: 1440.89px) {
  .container {
    max-width: 1020px;
    padding: 0 210px;
  }
}
@media (max-width: 1280.89px) {
  .container {
    max-width: 1020px;
    padding: 0 130px;
  }
}
@media (max-width: 744.89px) {
  .container {
    max-width: 744px;
    padding: 0 96px;
  }
}
@media (max-width: 744.89px) {
  .container {
    max-width: 744px;
    padding: 0 36px;
  }
}
@media (max-width: 360.89px) {
  .container {
    max-width: 360px;
    padding: 0 36px;
  }
}

html {
  scroll-behavior: smooth;
}

.main__border {
  z-index: 3;
}
.main__border-left-top {
  position: fixed;
  width: 20px;
  top: 15px;
  left: 15px;
}
@media (max-width: 768px) {
  .main__border-left-top {
    left: 10px;
    top: 10px;
  }
}
.main__border-right-top {
  position: fixed;
  width: 20px;
  top: 15px;
  right: 15px;
}
@media (max-width: 768px) {
  .main__border-right-top {
    right: 10px;
    top: 10px;
  }
}
.main__border-left-bottom {
  position: fixed;
  width: 20px;
  bottom: 15px;
  left: 15px;
}
@media (max-width: 768px) {
  .main__border-left-bottom {
    left: 10px;
    bottom: 10px;
  }
}
.main__border-right-bottom {
  position: fixed;
  width: 20px;
  bottom: 15px;
  right: 15px;
}
@media (max-width: 768px) {
  .main__border-right-bottom {
    right: 10px;
    bottom: 10px;
  }
}

.main__contact {
  position: fixed;
  bottom: 25px;
  right: 45px;
  z-index: 3;
  font-weight: 800;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .main__contact {
    right: 35px;
    bottom: 25px;
  }
}
.main__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 83px;
}
@media (max-width: 768px) {
  .main__link {
    gap: 5px;
    flex-direction: row;
    justify-content: center;
  }
}
.main__message-icon {
  max-width: 44px;
  animation: ring 1.5s infinite;
}
@media (max-width: 768px) {
  .main__message-icon {
    max-width: 25px;
  }
}
@keyframes ring {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
@media (max-width: 768px) {
  .main__link-text {
    font-size: 17px;
    text-wrap: nowrap;
  }
}

.main__vector-arrow {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 12px;
  pointer-events: none;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
}

.header {
  width: 100%;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  max-width: 211px;
}
@media (max-width: 460.98px) {
  .header__logo {
    max-width: 136px;
  }
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 748.98px) {
  .header__block {
    position: fixed;
    top: 64px;
    right: 18px;
    flex-direction: column;
    justify-content: center;
    width: 136px;
    background-color: rgba(255, 255, 255, 0.062745098);
    border-radius: 10px;
    padding: 5px;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    display: none;
  }
}
.header__contacts {
  display: flex;
  margin: 0 16px 0 0;
}
@media (max-width: 748.98px) {
  .header__contacts {
    margin: 0;
    padding: 16px 0;
  }
}
.header__fifa-logo {
  margin-right: 32px;
  max-width: 54.88px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 748.98px) {
  .header__fifa-logo {
    display: none;
  }
}
.header__lenguage {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: auto 0 auto auto;
}
.header__lenguage::after {
  content: "";
  background-image: url("../img/header/arrow.png");
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  position: absolute;
  top: 18px;
  right: -2px;
}
.header__lenguage .header__current-language {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.header__lenguage .header__language-list {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.062745098);
  border-radius: 10px;
  padding: 8px 0;
  list-style: none;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  z-index: 10;
}
.header__lenguage .header__language-list li {
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 800;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header__lenguage .header__language-list li:hover {
  background-color: rgba(0, 0, 0, 0.3137254902);
}
.header__lenguage.open .header__language-list {
  display: block;
}
.header__wrapper {
  width: 100%;
  position: fixed;
  gap: 16px;
  padding: 48px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 744.98px) {
  .header__wrapper {
    padding: 24px 16px;
  }
}

.menu-items {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.062745098);
  display: flex;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
@media (max-width: 744.98px) {
  .menu-items {
    flex-direction: column;
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}
.menu-items__item {
  border-radius: 10px;
  padding: 12px 16px;
  margin: 2px 0;
  font-weight: 800;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
  text-align: center;
}
@media (max-width: 990px) {
  .menu-items__item {
    font-size: 16px;
  }
}
@media (max-width: 918px) {
  .menu-items__item {
    font-size: 10px;
    padding: 10px 12px;
  }
}
@media (max-width: 744.98px) {
  .menu-items__item {
    font-size: 16px;
    padding: 8px 36px;
    align-items: center;
  }
}
.menu-items__item:first-child {
  margin: 2px 0 2px 2px;
  padding: 12px 20px;
}
@media (max-width: 918px) {
  .menu-items__item:first-child {
    padding: 10px 12px;
  }
}
@media (max-width: 744.98px) {
  .menu-items__item:first-child {
    margin: 0;
    padding: 8px 3 0px;
  }
}
.menu-items__item:last-child {
  margin: 2px 2px 2px 0px;
  padding: 12px 20px;
}
@media (max-width: 918px) {
  .menu-items__item:last-child {
    padding: 10px 12px;
  }
}
@media (max-width: 744.98px) {
  .menu-items__item:last-child {
    margin: 0;
    padding: 8px 30px;
  }
}
.menu-items__item:hover {
  background-color: rgba(0, 0, 0, 0.3137254902);
}
.menu-items__item:active {
  background-color: rgba(0, 0, 0, 0.3137254902);
}

.icon-links {
  display: flex;
  gap: 6px;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.icon-links__icon {
  max-width: 32px;
  cursor: pointer;
}
@media (max-width: 744.98px) {
  .icon-links__icon {
    max-width: 24px;
  }
}
.header__burger.open span {
  transition: all 0.2s ease;
  opacity: 1;
}
.header__burger.open span:first-child {
  transform: rotate(45deg) translate(5px, 4px);
}
.header__burger.open span:nth-child(2) {
  opacity: 0;
}
.header__burger.open span:last-child {
  transform: rotate(-45deg) translate(5px, -4px);
}

.absolute__wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../img/hero-image.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__hero-text {
  text-align: center;
  color: white;
  font-family: "Arial", sans-serif;
}
.main__hero-text h1 {
  font-size: 102px;
  line-height: 102px;
  font-weight: 700;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .main__hero-text h1 {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 380px) {
  .main__hero-text h1 {
    font-size: 35px;
    line-height: 35px;
  }
}
.main__hero-text p {
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  margin: 10px 0 0;
}
@media screen and (max-width: 768px) {
  .main__hero-text p {
    font-size: 18px;
    line-height: 18px;
  }
}
@media (max-width: 380px) {
  .main__hero-text p {
    font-size: 16px;
    line-height: 16px;
  }
}

.main__hero-image {
  opacity: 0;
  transform: scale(0.5); /* Початковий стан: зменшена картинка */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-image.visible {
  opacity: 1;
  transform: scale(1); /* Картинка повертається до нормального розміру */
}

.main__hero-text {
  opacity: 0;
  transform: translateY(-50px); /* Початковий стан: текст вище */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-text.visible {
  opacity: 1;
  transform: translateY(0); /* Текст повертається на місце */
}

.main__hero-content {
  display: flex;
  flex-direction: column; /* Розташування елементів вертикально */
  justify-content: center; /* Вирівнювання по вертикалі */
  align-items: center; /* Вирівнювання по горизонталі */
  height: 100%; /* Займає всю висоту контейнера */
  text-align: center; /* Центрування тексту */
}

.main__hero-image {
  position: absolute;
  opacity: 0;
  transform: scale(0.5); /* Початковий стан: зменшена картинка */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-image.visible {
  position: absolute;
  opacity: 1;
  transform: scale(1); /* Картинка повертається до нормального розміру */
}

.main__hero-text {
  opacity: 0;
  transform: translateY(-50px); /* Початковий стан: текст вище */
  transition: all 0.8s ease-in-out; /* Плавна анімація */
}

.main__hero-text.visible {
  opacity: 1;
  transform: translateY(0); /* Текст повертається на місце */
}

.about__wrapper {
  padding: 96px 0 320px 0;
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 1280.98px) {
  .about__wrapper {
    padding: 96px 0 160px 0;
  }
}
@media (max-width: 744.98px) {
  .about__wrapper {
    padding: 96px 0 160px 0;
  }
}
@media (max-width: 360.98px) {
  .about__wrapper {
    padding: 64px 0 160px 0;
  }
}
.about__title {
  position: relative;
  color: var(--base-100_100, #FFF);
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  line-height: 90%; /* 72px */
  text-transform: uppercase;
  margin: 0 0 56px 0;
}
.about__title::before {
  position: absolute;
  content: "about us";
  text-wrap: no-wrap;
  top: -30px;
  left: center;
  opacity: 0.2;
  background: radial-gradient(145.99% 128.12% at 50% 13.13%, var(--accent-lavabloom, #A569FF) 0%, var(--base-900_100, #000) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: blur(2px);
}
@media (max-width: 460.98px) {
  .about__title {
    font-size: 44px;
  }
}
.about__image-block {
  float: right;
  margin: 0 0 0 10px;
}
.about__foot-img {
  max-width: 277px;
  margin: 0 0 10.29px 0;
}
@media (max-width: 1280.98px) {
  .about__foot-img {
    max-width: 186px;
  }
}
@media (max-width: 744.98px) {
  .about__foot-img {
    max-width: 128px;
  }
}
@media (max-width: 460.98px) {
  .about__foot-img {
    max-width: 128px;
  }
}
@media (max-width: 1280.98px) {
  .about__license-img {
    max-width: 186px;
  }
}
@media (max-width: 744.98px) {
  .about__license-img {
    max-width: 128px;
  }
}
@media (max-width: 460.98px) {
  .about__license-img {
    max-width: 128px;
  }
}
.about__subtitle-block {
  color: var(--base-100_100, #FFF);
  /* desktop/header-6 */
  font-family: "Bebas Neue Pro";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 25.2px */
  text-transform: uppercase;
  max-width: 492px;
  margin: 0 0 32px 0;
}
@media (max-width: 744.98px) {
  .about__subtitle-block {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 8px 0;
  }
}
@media (max-width: 500.98px) {
  .about__subtitle-block {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 8px 0;
  }
}
.about__subtitle {
  margin: 0 0 16px 0;
  font-size: 28px;
}
@media (max-width: 744.98px) {
  .about__subtitle {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 8px 0;
  }
}
@media (max-width: 500.98px) {
  .about__subtitle {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 8px 0;
  }
}
.about__text-cover {
  max-width: 492px;
}
.about__inf {
  color: var(--base-100_100, #FFF);
  font-family: "Bebas Neue Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: 120%; /* 24px */
}
.about__inf:first-child {
  margin: 0 0 16px 0;
}
@media (max-width: 744.98px) {
  .about__inf:first-child {
    margin: 0 0 8px 0;
  }
}
@media (max-width: 744.98px) {
  .about__inf {
    font-size: 14px;
    line-height: 14px;
  }
}

@font-face {
  font-family: "Bebas Neue Pro";
  src: local("Bebas Neue Pro SemiExpanded ExtraBold"), local("Bebas-Neue-Pro-SemiExpanded-ExtraBold"), url("../fonts/BebasNeuePro-SemiExpXBold.woff2") format("woff2"), url("../fonts/BebasNeuePro-SemiExpXBold.woff") format("woff"), url("../fonts/BebasNeuePro-SemiExpXBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue Pro";
  src: local("Bebas Neue Pro SemiExpanded Bold"), local("Bebas-Neue-Pro-SemiExpanded-Bold"), url("../fonts/BebasNeuePro-SemiExpBold.woff2") format("woff2"), url("../fonts/BebasNeuePro-SemiExpBold.woff") format("woff"), url("../fonts/BebasNeuePro-SemiExpBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue Pro";
  src: local("Bebas Neue Pro Expanded Medium"), local("Bebas-Neue-Pro-Expanded-Medium"), url("../fonts/BebasNeuePro-ExpandedMedium.woff2") format("woff2"), url("../fonts/BebasNeuePro-ExpandedMedium.woff") format("woff"), url("../fonts/BebasNeuePro-ExpandedMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.header__burger {
  display: none;
  align-self: center;
  width: 24px;
  height: 24px;
  margin: 2px 0 0 0;
}
@media (max-width: 748px) {
  .header__burger {
    display: block;
  }
}
.header__burger span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

.header__block.open {
  display: flex;
}/*# sourceMappingURL=style.css.map */